html {
    font-size: 15px;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: rgb(210, 210, 210);
    color: rgb(20, 20, 20);
}

h1 {
    text-align: center;
    margin: -4px 0;
    padding-top: 5px;
    letter-spacing: 0.15px;
    font-weight: 1000;
    margin: -4px 0;
}

.weight {
    font-weight: 800;
}

.amount {
    font-size: 10px;
}

p {
    margin: 0;
}

.label {
    border: 2px solid black;
    width: 270px;
    margin: 20px auto;
    padding: 0 6px;
}
.small-divider {
    border-bottom: 1px solid #888989;
    margin: 1px 0;
}

.divider {
    border: 3px solid black;
    margin-top: 3px;
}
.big-divider {
    border: 8px solid black;
    margin-top: 3px;
}

.indent {
    text-indent: 14px;
}

.float {
    float: right;
}

.note {
    font-size: 0.7rem;
    margin: 5px 0;
    padding: 0 8px;
    text-indent: -8px;
}

#rightish {
    font-size: 0.8rem;
    margin-top: 2px;
}

#right {
    font-size: 0.77rem;
    margin-top: 1px;
    font-weight: 800;
}
